$primary: #1f1f1f;
$secondary: #525252;

$body-bg: #f9f9f9;
$body-color: #1f1f1f;

$gray-200: #f0f2f5;
$gray-400: #2c2c2c;
$gray-600: #262626;

$border-radius: 1rem;
$input-border-radius: 0.75rem;

$font-family-base: 'Inter', system-ui, 'Segoe UI', sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
