@use 'variables' as *;

@use '../../node_modules/bootstrap/scss/bootstrap.scss' as * with (
  $primary: $primary,
  $secondary: $secondary,
  $body-bg: $body-bg,
  $body-color: $body-color,
  $border-radius: $border-radius,
  $font-family-base: $font-family-base,
  $input-border-radius: $input-border-radius
);

@use 'layout' as *;
@use 'cards' as *;
@use 'forms' as *;
